@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap&amp;subset=cyrillic");
*
{
    margin: 0;
    padding: 0;
}
/* ----------------------
   TYPOGRAPHY  
   font-family: "Rubik", sans-serif;
   font-weight: 700;          
   ---------------------- */
   h1, h2, h3, h4, h5, h6 {
    color: #f8f8f8;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
  }
  body{
    background-color: #fff;
    background-image: url('../images/davide-cantelli-e3Uy4k7ooYk-unsplash.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    padding: 15px;
}

  
  /* ---------------------------
        HEAD
   -----------------------------*/
   /* .head{
    background-image: url('../images/davide-cantelli-e3Uy4k7ooYk-unsplash.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    padding: 15px;
    
} */
/* .head::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #7857fe;
  opacity: 0.25;
} */
.head{
  border-bottom: 1px solid #f8f8f8;
}
.head h1{
  font-size: 28px;
  color: #fff;
  text-shadow: 3px 3px 6px rgba(211, 211, 211, 0.658), -3px -3px 6px rgba(112, 112, 112, 0.479);
}
.head h2{
  font-size:17px;
  color: #ffffffee;
}
.head h3{
  font-size: 11px;
  color: #ffffffee;
}

/* ----------------------
    SECTION TITLE MAIN
  ----------------------- */
.section-title {
    font-size: 33px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 14px;
    position: relative;
    text-shadow: 3px 3px 6px rgb(136, 136, 136), -3px -3px 6px rgb(116, 116, 116);
  
  }
  .section-title span{
    color: rgba(255, 255, 255, 0.89);
    font-size: 15px;
  }

  .section-title:before {
    content: "";
    display: block;
    height: 37px;
    left: -14px;
    top: -14px;
    position: absolute;
    width: 37px;
  }

  /* ----------------------
    SECTION TITLE SUB
  ----------------------- */
.section-title1 {
  color: #7857fe;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom:5px;
  /* margin-left: 50px; */
  position: relative;
  text-shadow: 3px 3px 6px rgb(232, 234, 255), -3px -3px 6px rgb(255, 255, 255);
}
.section-title1 span{
  font-size: 15px;
}
.section-title1:before {
  content: "";
  display: block;
  height: 37px;
  /* left: -14px;  */
   top: -14px; 
  position: absolute;
  width: 37px;
}

/* -------------------
    FORMS
----------------------- */
body.dark .section-title {
  color: #FFF;
}
.timeline {
  position: relative;
  margin-top: 15px;
  
}

.timeline .timeline-container {
  /* padding-left: 50px; */
  margin-bottom: 50px;
  position: relative;
  background-color: inherit;
  width: 100%;
}
.timeline .timeline-container:last-of-type {
  margin-bottom: 20px;
}

.timeline.edu .timeline-container::after {
  content: "";
  background: #f8f8f8;
  font-family: "simple-line-icons";
  font-size: 24px;
  color: #f8f8f8;
  position: absolute;
  left: -7px;
  top: 0;
  z-index: 1;
}

.timeline.exp .timeline-container::after {
  content: "";
  background: #f8f8f8;
  font-family: "simple-line-icons";
  font-size: 24px;
  color: #f8f8f8;
  position: absolute;
  left: -7px;
  top: 0;
  z-index: 1;
}




body.dark .timeline.exp .timeline-container::after, body.dark .timeline.edu .timeline-container::after {
  background: #302f4e;
}
body.dark .bg-white {
  background-color: #302f4e !important;
}
.bg-white {
  background: #f8f8f8 !important;
}
.spacer {
  clear: both;
}
.rounded {
  border-radius: 20px !important;
}
/* -----------------------------------
contact forms
--------------------------------------- */
.contact-form{
  margin-top: 20px;
}
.contact-form .form-group{
   margin-bottom: 10px;
   /* margin-right: 45px; */
} 
.contact-form .form-control{
   height: 44px;
   border: 1px solid transparent;
   box-shadow:0 5px 15px rgba(0,0,0,0.1);
   border-radius: 30px;
   padding: 0 24px;
   color: #000000;
   background-color: #ffffff;
   transition: all 0.5s ease;
}
.contact-form textarea.form-control{
   height: 100px;
   padding: 12px;
}
.contact-form .form-control:focus{
   border-color: #7857fe;
} 
.btn-2{
  background-color: #7857fe;
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  transition: 0.5s ease;
  margin-top: 40px;
  margin-left: 680px;

}
.btn-2:hover{
  background-color: #ffffff;
  color:#7857fe;
  border: 2px solid #7857fe;
}
/* ------------------------------
         Responsive
  ------------------------------ */
@media only screen and (max-width: 768px){
  .btn-2{
    margin-left: 40px;
  }
  .head h1{
    font-size: 21px;
  }
  .head h2{
    font-size: 13px;
  }
  .section-title{
    font-size: 23px;
  }
}